# Configuración del servidor
PORT=3000

# Configuración de MongoDB
MONGO_URI=mongodb://localhost:27017/rest-api-db

# Configuración de JWT
JWT_SECRET=tu_jwt_secret_super_seguro_aqui
JWT_REFRESH_SECRET=tu_jwt_refresh_secret_super_seguro_aqui

# Configuración del entorno
NODE_ENV=development 